:root 
{
    --color-1: hsl(40, 97%, 58%);
    --color-2: hsl(216, 17%, 35%);
    --color-3: hsl(217, 12%, 62%);
    --color-4: hsl(212, 41%, 93%);
    --color-5: hsl(214, 37%, 96%);
    --color-6: hsl(39, 100%, 94%);
    
    --body-font-: 'Lexend Deca', sans-serif;
    --headings-font: 'Space Mono', monospace;
}


/*TYPOGRAPHY*/

body 
{
    font-size: 0.9375rem;
    font-family: var(--body-font-);
    line-height: 1.66;
}

h1, h2, h3, h4
{
    font-family: var(--headings-font);
}

h1 
{
    font-size: 2.4rem;
    letter-spacing: 2.5;
    line-height: 1;
}

h2 
{
    font-size: 1.9rem;
    letter-spacing:0;
    line-height: 1.1;
    color: var(--color-2);
}

h3 
{
    font-size:2.3rem;
    line-height: 1.2;
    letter-spacing: 1.79;
}

h4
{
    font-size: 1.25rem;
    line-height: 1.16;
    letter-spacing: 0;
    color: var(--color-2);
}



/*LAYOUT*/

* 
{
    margin: 0;
    box-sizing: border-box;
}

body 
{
    margin: 0 auto;
    text-align: center;
}




.only-desktop
{
    display: none;
}


.mobile-nav-overlay
{
    display: none;
}



header
{
    padding: 1.31rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo
{
    max-width: 75px;
    justify-self: center;
}


main
{
    overflow: hidden;
}


.intro
{
    background-image: url(../assets/patterns/right-arrow.svg), url(../assets/images/home-hero-mobile.jpg);
    color: var(--color-4);
    
    padding: 3rem 0 10rem;
    
    background-repeat: no-repeat;
    
    
    background-position: left -300px bottom 25px, center center;
}


.intro .title
{
    margin-bottom: .6em;
}

.intro .text
{
    margin-bottom: 2.1em;
}


.steps
{
    padding: 6rem 0;
    color: var(--color-3);
}

.step:not(:last-child)
{
    margin-bottom: 3rem;
}
.step .icon 
{
    max-width: 19%;
    margin-bottom: 1rem;
}


.step .title
{
    margin-bottom: 1em;
}


.feature
{
    position: relative;
}

.feature:not(:last-child)
{
    margin-bottom: 5rem;
}

.feature .img
{
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.feature .pattern
{
    position: absolute;
}

.feature:nth-child(1) .pattern
{
    top: 170px;
    left: 0;
}

@media(max-width: 374px)
{
    .feature:nth-child(1) .pattern
{
    top: 140px;
}
}



.feature:nth-child(2) .pattern
{
    left: -70%;
}
.feature:nth-child(3) .pattern
{
    right: -550px;
}

.feature .title
{
    margin-bottom: 1em;
}

.feature .text
{
    color: var(--color-3);
    margin-bottom: 2em;
}


/*COMPONENTS*/


.container 
{
    padding-left: 8.5%;
    padding-right: 8.5%;
}


.btn
{
    background: var(--color-1);
    color: var(--color-4);
    border: 0;
    padding: 0.8em 2em;
    font-family: var(--headings-font);
    font-size: 1rem;
}

