:root 
{
    --color-1: hsl(40, 97%, 58%);
    --color-1b: hsl(216, 17%, 20%);
    --color-2: hsl(216, 17%, 35%);
    --color-3: hsl(217, 12%, 62%);
    --color-4: hsl(212, 41%, 93%);
    --color-5: hsl(214, 37%, 96%);
    --color-6: hsl(39, 100%, 94%);
    
    --body-font-: 'Lexend Deca', sans-serif;
    --headings-font: 'Space Mono', monospace;
}


/*TYPOGRAPHY*/

body 
{
    font-size: 0.9375rem;
    font-family: var(--body-font-);
    line-height: 1.66;
}

h1, h2, h3, h4
{
    font-family: var(--headings-font);
}

h1 
{
    font-size: 2.4rem;
    letter-spacing: 2.5;
    line-height: 1;
}

h2 
{
    font-size: 1.9rem;
    letter-spacing:0;
    line-height: 1.1;
    color: var(--color-2);
}

h3 
{
    font-size:2.3rem;
    line-height: 1.2;
    letter-spacing: 1.79;
}

h4
{
    font-size: 1.25rem;
    line-height: 1.16;
    letter-spacing: 0;
    color: var(--color-2);
}


a
{
    text-decoration: none;
}



/*LAYOUT*/

* 
{
    margin: 0;
    box-sizing: border-box;
}

body 
{
    margin: 0 auto;
    text-align: center;
}


main
{
    overflow: hidden;
    position: relative;
}

.only-desktop
{
    display: none;
}


.mobile-nav-overlay
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    transition: opacity 500ms, left 500ms;
    
    display: none;
    opacity: 0;
    
    left: -100%;
}

.mobile-nav-overlay.open
{
    opacity: 1;
    left: 0px;
}

.mobile-nav
{
    background-color: var(--color-2);
    text-align: left;
    
    padding: 3rem 1.6rem 1.6rem;
    width: fit-content;
    height: 100%;
    
    
}
.mobile-nav a
{
    color: white;
    display: block;
    margin-bottom: 1em;
    font-size: 1.15rem;
    font-family: var(--headings-font);
}



header
{
    padding: 1.31rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo
{
    max-width: 75px;
    justify-self: center;
}




.intro
{
    background-image: url(../assets/patterns/right-arrow.svg), url(../assets/images/home-hero-mobile.jpg);
    color: var(--color-4);
    
    padding: 3rem 0 10rem;
    
    background-repeat: no-repeat;
    
    
    background-position: left -300px bottom 25px, center center;
}

@media(min-width: 376px)
{
    .intro
    {
        background-image: url(../assets/patterns/right-arrow.svg), url(../assets/images/home-hero-tablet.jpg);
    }
}


.intro .title
{
    margin-bottom: .6em;
}

.intro .text
{
    margin-bottom: 2.1em;
}


.steps
{
    padding: 6rem 0;
    color: var(--color-3);
}

.step:not(:last-child)
{
    margin-bottom: 3rem;
}
.step .icon 
{
    max-width: 19%;
    margin-bottom: 1rem;
}


.step .title
{
    margin-bottom: 1em;
}


.features
{
    margin-bottom: 6rem;
}


.feature
{
    position: relative;
}

.feature:not(:last-child)
{
    margin-bottom: 5rem;
}

.feature .img
{
    border-radius: 50%;
    max-width: 100%;
    margin-bottom: 2.5rem;
}

.feature .pattern
{
    position: absolute;
}

.feature:nth-child(1) .pattern
{
    top: 170px;
    left: 0;
}

@media(max-width: 374px)
{
    .feature:nth-child(1) .pattern
{
    top: 140px;
}
}



.feature:nth-child(2) .pattern
{
    left: -70%;
}
.feature:nth-child(3) .pattern
{
    right: -550px;
}

.feature .title
{
    margin-bottom: 1em;
}

.feature .text
{
    color: var(--color-3);
    margin-bottom: 2em;
}


.call-to-action
{
    padding: 5rem;
    background: var(--color-2);
    background-image: url(../assets/patterns/semi-circles.svg);
    background-position: left -200px bottom;
    background-repeat: no-repeat;
}


.call-to-action .title
{
    color: white;
    margin-bottom: 1.2em;
}

.call-to-action .btn-store:not(:last-child)
{
    margin-right: 0.5rem;
}

.call-to-action .app-store
{
    max-width:115px;
}

.call-to-action .google-play
{
    max-width: 130px;
}

footer
{
    background-color: var(--color-1b);
    padding: 3rem 0 4rem;
}


footer .logo 
{
    margin-bottom: 2em;
}

footer .logo path
{
    fill: white;
}

footer a 
{
    color: var(--color-3);
    display: block;
}

footer a:not(:last-child)
{
    margin-bottom: 1em;
}

footer nav
{
    margin-bottom: 5rem;
}

.social-media .icon:not(:last-child)
{
    margin-right: 1.4em;
}


/*COMPONENTS*/


.container 
{
    padding-left: 8.5%;
    padding-right: 8.5%;
}


.btn
{
    background: var(--color-1);
    color: var(--color-4);
    border: 0;
    padding: 0.8em 2em;
    font-family: var(--headings-font);
    font-size: 1rem;
}

